body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-flow: column nowrap;
}

header {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items:center;
    padding: 3em;
}

.primary-nav a, .secondary-nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.primary-nav a:hover, .secondary-nav a:hover {
    color: blue;
}

main {
    width: 100%;
    display: grid;
    display: flex;
    flex-flow: row nowrap;
}

#title {
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 90%;
}

.content article {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.content p {
    padding: 0;
    margin: 0 0 1rem 0;
    text-align: justify;
}

.content h2 {
    font-size: 2em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #444;
    text-align: left;
}

aside {
    min-width: 27%;
}

aside * {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

aside.jaune {
    background-color: rgb(255, 213, 0);
    color: black;
}

aside.bleu {
    background-color: rgb(0, 145, 255);
    color: black;
}

.img-text {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

figure {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    width: fit-content;
    float: left;
    margin-right: 30px;
}

img {
    max-width: 350px;
    margin: auto;
}

footer {
    padding-right: 2rem;
    text-align: right;
    background-color: grey;
    color: black;
    font-size: 0.9em;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

footer a {
    margin: 1.5rem;
}

/* 

    KB2 STYLES

*/

#images {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#images section {
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#images h2 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem 0;
    width: 80%;
}

#images img {
    width: 80%;
    margin: 2rem 0 0 0;
}

#section1 img:hover {
    opacity: 0.6;
}

#section2 {
    background-image: linear-gradient(red, pink);
}

#section2 img {
    border: 8px solid gold;
}

#section3 img:hover {
    border-radius: 100px;
}

#images p {
    padding: 0.5rem 0;
    margin: 1rem 0 0 0;
    text-align: center;
    background-color: pink;
    width: 80%;
    color: rgb(224, 9, 45);
}